.main {
    background-color: #2F5336;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-head {
    color: #fff;
    font-family: "Kalnia", serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    letter-spacing: 25px;
}

.rooms-link {
    border: 1px solid black;
    padding: 5px 40px 5px 40px;
    font-family: "Kalnia", serif;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease;
}

.rooms-link:hover {
    background-color: #FED16A;
    color: black;
}

.head {
    background-color: rgba(255, 255, 255, 0.103);
    font-family: "Kanit", sans-serif;
    color: #fff;
}